body {
  background-color: #111111;
  color: white;
  border: 1px solid #353535;
}
p {
  color: #6c7045;
}
h2,
h3,
h4,
h5 {
  text-align: center;
  color: #9b4f29;
}

.top {
  display: flex;
  text-align: center;
  border: solid 1px #43433c;
}

.topleft {
  display: flex;
  width: 40%;
}

.playerbox {
  width: 100%;
  padding: 10px;
}
.playerboxname {
  text-align: center;
  border: solid 1px #43433c;
  box-shadow: inset 0px 0px 6px 6px #494949;
  width: 100%;
  background-color: #242424;
  margin-bottom: 5px;
}
.playerhealth {
  text-align: center;
  border: solid 1px #43433c;
  width: 100%;
  background-color: #242424;
  margin-bottom: 5px;
}
.damagebox {
  text-align: center;
  border: solid 1px #43433c;
  width: 100%;
  background-color: #242424;
}

.enemybox {
  width: 100%;
  padding: 10px;
}
.enemynamebox {
  text-align: center;
  border: solid 1px #43433c;
  width: 100%;
  background-color: #242424;
  margin-bottom: 5px;
}

.enemyhealth {
  text-align: center;
  border: solid 1px #43433c;
  width: 100%;
  background-color: #242424;
  margin-bottom: 5px;
}

.topright {
  width: 40%;

  border-right: 1px solid rgb(49, 49, 49);
  border-left: 1px solid rgb(49, 49, 49);
}
.toprighttop {
  padding: 10px;
}

.goldbox {
  text-align: center;
  width: 100%;

  border: solid 1px #43433c;
  background-color: #242424;
}
.gold {
  margin-left: 30%;
  margin-right: 30%;
}

.gold1 {
  margin-left: 30%;
  margin-right: 30%;
}

.lootbox {
  display: flex;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: solid 1px #43433c;
  width: 90%;
  background-color: #242424;
}

.lootDropBox {
  visibility: hidden;
  background: rgb(146, 111, 21);
}
.instructions {
  width: 20%;
}

.instructions h2 {
  font-size: 1rem;
}
.instructions p {
  font-size: 0.8rem;
}
.bottom {
  display: flex;
  background-color: #1b1b1b;
  border-left: solid 1px #43433c;
  border-bottom: solid 1px #43433c;
  border-right: solid 1px #43433c;
}
.bottomleft {
  width: 50%;
  padding: 20px;
}
.bottomleftbox1 {
  border-bottom: 1px solid rgb(49, 49, 49);
  padding-bottom: 20px;
}
.revive {
  visibility: hidden;
  padding: 40px;
  background-color: bisque;
  font-weight: 700;
}

.enemybox button {
  display: block;
}

.bottommiddle {
  width: 50%;
  border-left: solid 1px rgb(49, 49, 49);
  padding: 20px;
}

.levelsbox {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
  justify-content: space-evenly;
}

.levelsbox p {
  color: #a2aa58;
}

.defencebox {
  width: 30%;
  border: solid 1px #43433c;
  text-align: center;
  background-color: #242424;
}
.strengthbox {
  width: 30%;
  border: solid 1px #43433c;
  text-align: center;
  background-color: #242424;
}
.healthbox {
  width: 30%;
  border: solid 1px #43433c;
  text-align: center;
  background-color: #242424;
}

.xpbox {
  border-top: solid 1px #43433c;
}

.equipmentbox {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;

  width: 100%;
}
.equipmentbox p {
  color: #a2aa58;
}

.bottommiddlebox2 {
  border-top: 1px solid black;
}
.weaponbox {
  width: 45%;
  text-align: center;
  border: solid 1px #43433c;
  background-color: #242424;
}
.armorbox {
  width: 45%;
  text-align: center;
  border: solid 1px #43433c;
  background-color: #242424;
}

.collectlootbox {
  margin-top: 20px;
}
.collectlootbox button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.upgrades {
  text-align: center;
}
.upgrades button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.shop-weapon-armor {
  display: flex;
}
.shop-weapon {
  width: 50%;
  border: solid 1px #43433c;
  padding: 10px;
}
.shop-weapon button {
  margin-left: 10px;
  margin-top: 10px;
}
.shop-armor {
  width: 50%;
  border: solid 1px #43433c;
  padding: 10px;
}
.shop-armor button {
  margin-left: 10px;
  margin-top: 10px;
}

.shopbuybutton button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btnCloseShop {
  margin-top: 40px;
  margin-bottom: 40px;
}

.container-popup {
  position: relative;
  position: fixed;
  top: 0;
  right: 50%;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.952);
  display: none;
}

.popup {
  width: 100%;
  height: 100%;
  background: #1abcb900;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.container-popup-shop {
  position: relative;
  position: fixed;
  top: 34%;
  right: 1%;
  bottom: 30%;
  left: 50%;
  background: rgba(0, 0, 0, 0.952);

  display: none;
  border: solid 3px rgb(48, 41, 1);
  padding: 10px;
}

.popup-shop {
  width: 90%;
  height: 100%;
  background: #1abcb900;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 10px;
}
.enemyboxnamecontainer {
  text-align: center;
  border: solid 1px #43433c;
  width: 100%;
  margin-top: 20px;
  background-color: #242424;
  margin-bottom: 10px;
}
.enemyboxstatscontainer {
  display: flex;
  justify-content: center;
}
.enemyboxhealthcontainer {
  border: solid 1px #43433c;
  width: 45%;
  text-align: center;
  background-color: #242424;
}
.enemyboxdamagecontainer {
  border: solid 1px #43433c;
  width: 45%;
  text-align: center;
  background-color: #242424;
  margin-left: 10px;
}
.enemyboxlootcontainer {
  text-align: center;
  text-align: center;
  border: solid 1px #43433c;
  width: 100%;
  background-color: #242424;
  margin-top: 10px;
}

.bottomleftbox1 button {
  background-color: #1d1d1d00;
  color: #a2aa58;
  border: solid 1px #c7d171;
  border-radius: 5px;
  padding: 8px;
}
.bottomleftbox1 button:hover {
  background-color: #3b3b3b;
  color: #c2cc6b;
  border: solid 1px #d8e278;
  border-radius: 5px;
  padding: 8px;
}
.enemycontrols button {
  background-color: #1d1d1d00;
  color: #a2aa58;
  border: solid 1px #c7d171;
  border-radius: 5px;
  padding: 8px;
}
.enemycontrols button:hover {
  background-color: #3b3b3b;
  color: #c2cc6b;
  border: solid 1px #d8e278;
  border-radius: 5px;
  padding: 8px;
}

/* media query for mobile */
@media only screen and (max-width: 600px) {
  html {
    padding-left: 0%;
    padding-right: 0%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  button {
    font-size: 0.75rem;
  }
}
