html {
  padding-left: 20%;
  padding-right: 20%;
  background-color: #111111;
  color: white;
}

h2,
h3 {
  text-align: center;
}

body {
  border: 1px solid #353535;
}

.top {
  display: flex;
  text-align: center;
}

.topleft {
  display: flex;
  width: 40%;
}

.playerbox {
  width: 100%;
}

.enemybox {
  width: 100%;
}

.topright {
  width: 40%;
}

.lootbox {
  display: flex;
  justify-content: space-evenly;
}

.lootDropBox {
  visibility: hidden;
  background: rgb(146, 111, 21);
}
.instructions {
  width: 20%;
}

.instructions h2 {
  font-size: 1rem;
}
.instructions p {
  font-size: 0.8rem;
}
.bottom {
  display: flex;
  background-color: #1d1d1d;
}
.bottomleft {
  width: 25%;
}
.revive {
  visibility: hidden;
}

.enemybox button {
  display: block;
}

.bottommiddle {
  width: 25%;
}

.levelsbox {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
}
.defencebox {
  width: 50%;
}
.strengthbox {
  width: 50%;
}
.healthbox {
  width: 50%;
}

.equipmentbox {
  display: flex;
  flex-wrap: wrap;
}
.weaponbox {
  width: 50%;
}
.armorbox {
  width: 50%;
}

.bottomright {
  width: 25%;
}

.bottomright button {
  display: block;
}
.bottomright2 {
  width: 25%;
}

.bottomright2 button {
  display: block;
}
