html {
  background-color: #111111;
  color: white;
}
p {
  color: #a2aa58;
}
h2,
h3 {
  text-align: center;
}

body {
  border: 1px solid #353535;
}

.top {
  display: flex;
  text-align: center;
}

.topleft {
  display: flex;
  width: 40%;
}

.playerbox {
  width: 100%;
}
.playerboxname {
  text-align: center;
  border: solid 1px #ffffff;
  width: 100%;
}
.playerhealth {
  text-align: center;
  border: solid 1px #ffffff;
  width: 100%;
}
.damagebox {
  text-align: center;
  border: solid 1px #ffffff;
  width: 100%;
}

.enemybox {
  width: 100%;
}
.enemynamebox {
  text-align: center;
  border: solid 1px #ffffff;
  width: 100%;
}

.enemyhealth {
  text-align: center;
  border: solid 1px #ffffff;
  width: 100%;
}

.topright {
  width: 40%;
  border-left: 1px solid rgb(167, 167, 167);
  border-right: 1px solid rgb(167, 167, 167);
}
.goldbox {
  text-align: center;
  border: solid 1px #7e7e7e;
  width: 100%;
}

.lootbox {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  border: solid 1px #7e7e7e;
  width: 100%;
  background-color: #242424;
}

.lootDropBox {
  visibility: hidden;
  background: rgb(146, 111, 21);
}
.instructions {
  width: 20%;
}

.instructions h2 {
  font-size: 1rem;
}
.instructions p {
  font-size: 0.8rem;
}
.bottom {
  display: flex;
  background-color: #1d1d1d;
}
.bottomleft {
  width: 50%;
  padding: 20px;
}
.bottomleftbox1 {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}
.revive {
  visibility: hidden;
  padding: 40px;
  background-color: bisque;
  font-weight: 700;
}

.enemybox button {
  display: block;
}

.bottommiddle {
  width: 50%;
  border-left: solid 1px black;
  padding: 20px;
}

.levelsbox {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
  justify-content: space-evenly;
}

.levelsbox p {
  color: #a2aa58;
}

.defencebox {
  width: 30%;
  border: solid 1px #43433c;
  text-align: center;
  background-color: #242424;
}
.strengthbox {
  width: 30%;
  border: solid 1px #43433c;
  text-align: center;
  background-color: #242424;
}
.healthbox {
  width: 30%;
  border: solid 1px #43433c;
  text-align: center;
  background-color: #242424;
}

.xpbox {
  border-top: solid 1px #43433c;
}

.equipmentbox {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  border: solid 1px #7e7e7e;
  width: 100%;
  background-color: #111111;
}
.equipmentbox p {
  color: #a2aa58;
}

.bottommiddlebox2 {
  border-top: 1px solid black;
}
.weaponbox {
  width: 45%;
  text-align: center;
  border: solid 1px #7e7e7e;
  background-color: #242424;
}
.armorbox {
  width: 45%;
  text-align: center;
  border: solid 1px #7e7e7e;
  background-color: #242424;
}

.collectlootbox {
  margin-top: 20px;
}
.collectlootbox button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.upgrades {
  text-align: center;
}
.upgrades button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.upgradesdaggerbox {
  display: flex;
  padding-left: 15%;
  padding-right: 15%;
}
.bronzeDaggerBox {
  width: 33.3%;
}
.ironDaggerBox {
  width: 33.3%;
}
.steelDaggerBox {
  width: 33.3%;
}

.upgradeArmorBox {
  display: flex;
  padding-left: 15%;
  padding-right: 15%;
}
.bronzeArmorBox {
  width: 33.3%;
}
.ironArmorBox {
  width: 33.3%;
}
.steelArmorBox {
  width: 33.3%;
}

.container-popup {
  position: relative;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.952);
  display: none;
}

.popup {
  width: 100%;
  height: 100%;
  background: #1abcb900;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.enemyboxnamecontainer {
  text-align: center;
  border: solid 1px #ffffff;
  width: 100%;
  margin-top: 20px;
}
.enemyboxstatscontainer {
  display: flex;
  justify-content: center;
}
.enemyboxhealthcontainer {
  border: solid 1px #ffffff;
  width: 45%;
  text-align: center;
}
.enemyboxdamagecontainer {
  border: solid 1px #ffffff;
  width: 45%;
  text-align: center;
}
.enemyboxlootcontainer {
  text-align: center;
  text-align: center;
  border: solid 1px #ffffff;
  width: 100%;
}

/* media query for mobile */
@media only screen and (max-width: 600px) {
  html {
    padding-left: 0%;
    padding-right: 0%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  button {
    font-size: 0.75rem;
  }
}
